/** 头部公共样式 **/
@import "./public";
#header{
  
  .mobile-open{
    display: none;
  }
  .header-top{
    line-height:35px;
    height: 35px;
    position: relative;
    background: #ebebeb;
    a{
      color: #333333;
    }
    .nav-left a{
      margin-right : 22px;
      display:inline-block;
      &.active{
        position: relative;
        &:before{
          width:0;
          height:0;
          content:' ';
          border:5px solid transparent;
          position:absolute;
          left : 50%;
          top:100%;
          margin-left : -5px;
          border-top-color:#ebebeb;
        }
      }
    }
    .nav-right-item{
      position: absolute;
      right : 22px;
      top : 0;

      li{
        float : left;
        &:not(:first-child){
          border-left: 2px solid #e3e3e3;
        }

        &:not(:last-child){
          padding-right : 20px;
        }
        &:nth-of-type(1){
          a{
            margin-left : 6px;
            margin-top:4px;
            width: 25px;
            height: 25px;
            font-size:12px;
            color: #4c4c4c;
            background-color: #e8e8e8;
            border : 1px solid #d9d9d9;
            border-radius : 50%;
            display: inline-block;
            line-height:25px;
            text-align: center;
            //padding : 5px;
            
            &:hover,&.active{
              background: #fff;
              color: #2ebbe7;
              border-color: #2ebbe7;
            }
          }
        }
        &:nth-of-type(2){
          a{
            display: inline-block;
            position: relative;
            margin-left:40px;
            &:before{
              content :  url("../img/header/about-icon.png");
              width : 16px;
              height : 15px;
              position:absolute;
              top : 2px;
              left : -22px;
            }

            &:nth-of-type(2):before{
              content :  url("../img/header/phone-icon.png");
            }

            &:nth-of-type(2){


              &:hover{

                &:after{
                  width: 0;
                  height: 0;
                  content: ' ';
                  border: 10px solid transparent;
                  position: absolute;
                  left: 50%;
                  top: 15px;
                  margin-left: -10px;
                  border-bottom-color: #fff;
                }

                span:nth-of-type(2){
                  display: block;
                }
              }


              span:nth-of-type(2){

                display: none;
                position: absolute;
                left: -95px;
                top: 36px;
                background-color: #fff;
                height: 220px;
                z-index: 10;
                text-align: center;
                padding: 0 20px;
                border-radius: 5px;
                border : 1px solid #f2f2f2;
                b{
                  display: block;
                  width: 210px;
                  color: #2ebbe7;
                  font-size:18px;
                  border-bottom: 1px solid #ebebeb;
                  line-height: 46px;
                  font-weight:200;
                  i{
                    font-size:12px;
                    color: #666666;
                  }
                }
              }
            }
          }
        }
        &:nth-of-type(3){
          padding-left : 12px;

          a{
            position: relative;
            
            &:hover{
              &:before{
                width: 0;
                height: 0;
                content: ' ';
                border: 10px solid transparent;
                position: absolute;
                left: 50%;
                top: 8px;
                margin-left: -10px;
                border-bottom-color: #fff;
              }
              img:nth-of-type(2){
                display: block;
              }
            }
            
            img{
              &:nth-of-type(1){
                margin-top : 8px;
              }
              &:nth-of-type(2){
                display: none;
                position: absolute;
                right : -54px;
                top : 28px;
                width: 126px;
                height: 126px;

                background: #fff;
                border : 1px solid #f2f2f2;
                padding:10px;
                z-index:10;
              }
            }
          }
        }
      }
    }

  }
  .header-center{
    height : 80px;
    .mobile-open,.mobile-nav-open{
      display: none;
    }
    
    .header-logo{
      position:absolute;
      line-height : 80px;
      img{
        width : 224px;
        height : 47px;
        vertical-align: middle;
      }
    }
    .header-center-item{
      position:absolute;
      left : 300px;
      li{
        float : left;
        height : 80px;
        margin-left : 34px;
        &.active{
          border-bottom : 3px solid #2ebbe7;

          span:nth-of-type(1){
            color : #2ebbe7;
          }
        }

        span{
          font-size : 12px;
          text-align: center;
          color: #808080;
          display:block;

          &:nth-of-type(1){
            color : #333;
            font-size : 18px;
            margin-top:24px;
          }
        }
      }
    }
  }
}
