/** 头部公共样式 **/
@import "./public";
#header{
  .header-top{
    line-height:35px;
    height: 35px;
    position: relative;
    background: #ebebeb;
    a{
      color: #333333;
    }
    .nav-left a{
      margin-right : 22px;
      display:inline-block;
      &.active{
        position: relative;
        &:before{
          width:0;
          height:0;
          content:' ';
          border:5px solid transparent;
          position:absolute;
          left : 50%;
          top:100%;
          margin-left : -5px;
          border-top-color:#ebebeb;
        }
      }
    }
    .nav-right-item{
      position: absolute;
      right : 22px;
      top : 0;

      li{
        float : left;
        &:not(:first-child){
          border-left: 2px solid #e3e3e3;
        }

        &:not(:last-child){
          padding-right : 20px;
        }
        &:nth-of-type(1){
          a{
            margin-left : 6px;
            margin-top:4px;
            width: 28px;
            height: 27px;
            font-size : 0;
            display:inline-block;
            -webkit-background-size:cover;
            background-size:cover;
            &:nth-of-type(1){
              background: url("../img/header/jt.png") no-repeat center;
              &:hover,&.active{
                background: url("../img/header/jt-hover.png") no-repeat center;
              }
            }
            &:nth-of-type(2){
              background: url("../img/header/ft.png") no-repeat center;
              &:hover,&.active{
                background: url("../img/header/ft-hover.png") no-repeat center;
              }
            }
            &:nth-of-type(3){
              background: url("../img/header/en.png") no-repeat center;
              &:hover,&.active{
                background: url("../img/header/en-hover.png") no-repeat center;
              }
            }
          }
        }
        &:nth-of-type(2){
          a{
            //position: relative;
            //display: inline-block;
            //margin-left : 40px;
            //background-color: yellowgreen;
            //width:150px;
            //&:before{
            //  position: absolute;
            //  left : 0;
            //  top : 0;
            //  content: '';
            //}
            display: inline-block;
            position: relative;
            margin-left:40px;
            &:before{
              content :  url("../img/header/about-icon.png");
              width : 16px;
              height : 15px;
              position:absolute;
              top : 2px;
              left : -22px;
            }
            //
            &:nth-of-type(2):before{
              content :  url("../img/header/phone-icon.png");
            }
          }
        }
        &:nth-of-type(3){
          padding-left : 12px;
          img{
            margin-top : 8px;
          }
        }
      }
    }

  }
  .header-center{
    height : 80px;
    .mobile-open,.mobile-nav-open{
      display: none;
    }
    
    .header-logo{
      position:absolute;
      line-height : 80px;
      img{
        width : 224px;
        height : 47px;
        vertical-align: middle;
      }
    }
    .header-center-item{
      position:relative;
      left : 238px;
      li{
        float : left;
        height : 80px;
        margin-left : 34px;
        &.active{
          border-bottom : 3px solid #2ebbe7;

          span:nth-of-type(1){
            color : #2ebbe7;
          }
        }

        span{
          font-size : 12px;
          text-align: center;
          color: #808080;
          display:block;

          &:nth-of-type(1){
            color : #333;
            font-size : 18px;
            margin-top:24px;
          }
        }
      }
    }
  }
}

@media all and (max-width : 750px){

  
  html,body{
    height:100%;
    //overflow: hidden;
  }
  .header-top,.header-center-item{
    display: none;
  }

  .container{
    width: 100%;
    padding:0 40px;
  }

  .header-center{

    .mobile-open{
      display : block!important;
    }
    .mobile-open{

      position: absolute;
      top:28px;
      left: 40px;
      width: 32px;
      height: 22px;
      cursor: pointer;
    }
    .header-logo {
      left: 50%;
      margin-left:-112px;
    }
  }

  .mobile-nav-open{
    position: fixed;
    left : 0;
    right: 0;
    top : 0;
    bottom : 0;
    overflow: hidden;
    background: #181818;
    z-index:999;
    padding:0 40px;
    .mobile-nav-title{
      height:120px;
      position: relative;
      img{
        position: absolute;
        top:50%;
      }
      img:nth-of-type(1){
        width: 24px;
        height: 24px;
        margin-top :-12px;
      }
      img:nth-of-type(2){
        left : 50%;
        width: 312px;
        height: 60px;
        margin :-30px -156px;
      }
    }

  }

  .mobile-nav-ctx{
    margin:60px 40px 0;
    span{
      display: block;
      color: #fff;
      font-size:32px;
      line-height:100px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      border-bottom : 1px solid #606060;

    }
  }
}