/** 首页样式 **/
@import "public";
@import "header";
@import "banner-nav";
@import "about-us";
@import "footer";

.carousel{
  height : 404px;

  >a{
    height:100%;
    line-heigth : 1;
    img{
      width : 34px;
      height : 63px;
      position: absolute;
      top : 50%;
      margin-top : -30px;
    }
  }

  .item{
    position: relative;
    img{
      width:100%;
      height:404px;
      overflow : hidden;
    }

    .banner-item{
      text-align: left;
      padding : 0px;
      left : 0px;
      right : 0px;
      top : 0px;
      bottom : 0px;

      .banner-item-txt{
        a{
          display: block;
          color : #fff;

          &:nth-of-type(1){
            font-size:50px;
            margin-top:88px;
          }

          &:nth-of-type(2){
            font-size : 24px;
            margin-top:15px;
          }

        }
        span{
          display: block;
          margin-top:60px;
          font-size : 14px;
        }
      }
    }
  }

  .banner-nav{
    top : 332px;
    .banner-nav-text{
      > a{
        &:after{
          position: absolute;
          top:4px;
          content: url("../img/header/banner-arrow.png");
          width : 22px;
          height : 22px;
          margin-left : 15px;

        }
      }
    }
  }

  .carousel-indicators{
    bottom : -40px;

    li{
      border-color : #e4e3e3;

      &.active{
        background-color: #f0f0f0;
      }
    }
  }
}


#wrap{
  margin-top:58px;
  //选择日发
  .choice {
    background: greenyellow;
    margin-top: 20px;
    position: relative;

    a.load-more {
      position: absolute;
      top: 4px;
      right: 0;
      font-size: 12px;

      &:after {
        content: url("../img/header/more-bottom.png");
        width: 12px;
        height: 12px;
        position: absolute;
        right: 0;
        bottom: -12px;
      }
    }

    /** 左侧*/
    .wrap-left {
      width: 646px;
      float: left;

      .wrap-left-lSlide, .wrap-left-rSlide {
        width: 312px;
        float: left;
        margin-bottom: 30px;
        height: 215px;
        overflow: hidden;

        > a {
          display: block;
          width: 100%;
          height: 100px;
          position: relative;

          span {
            position: absolute;
            display: none;
            &:nth-of-type(1) {
              width: 100%;
              height: 100%;
              background: #000;
              top: 0;
              opacity: .7;
            }

            &:nth-of-type(2) {
              content: url("../img/header/a-hove-play.png");
              width: 30px;
              height: 30px;
              left: 50%;
              top: 50%;
              margin-left: -15px;
              margin-top: -15px;
            }
          }

          &:hover {
            span {
              display: block;
            }
          }
        }
        > div {
          position: relative;
          h2 {
            line-height: 34px;
            margin-top: 5px;
            max-width: 290px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            a {
              font-size: 16px;
              color: #333;

              &:after {
                content: url("../img/header/load-title-more.png");
                position: absolute;
                right: 0;
                width: 10px;
                height: 10px;
              }
            }
          }
        }
        span {
          line-height: 20px;
          color: #666666;
          font-size: 12px;
        }
      }
      .wrap-left-rSlide {
        margin-left: 22px;
      }
    }

    /** 右侧 **/
    //.wrap-right{
    //  width: 312px;
    //  position: absolute;
    //  right:0;
    //
    //  .wrap-right-item{
    //    >div{
    //      border-bottom : 1px solid #cccccc;
    //      position: relative;
    //      span,a{
    //        color: #2ebbe7;
    //      }
    //      span{
    //        font-size : 16px;
    //        display: inline-block;
    //        padding-bottom : 10px;
    //        border-bottom: 1px solid #2ebbe7;
    //      }
    //    }
    //    .wrap-left-rSlide{
    //      margin-left:22px;
    //    }
    //  }
    .wrap-right {
      width: 312px;
      position: absolute;
      right: 0;

      .wrap-right-item {
        > div {
          border-bottom: 1px solid #cccccc;
          position: relative;
          span {
            font-size: 16px;
            color: #2ebbe7;
            width: 94px;
            display: block;
            padding-bottom: 10px;
            border-bottom: 1px solid green;
          }

          a {
            position: absolute;
            top: 4px;
            right: 0;
            font-size: 12px;
          }
        }
        .news-list {
          margin-top: 16px;
          height: 248px;
          overflow: hidden;
          li {
            line-height: 34px;
            position: relative;
            a {
              color: #4c4c4c;
              font-size: 12px;

              span:nth-of-type(1) {
                display: block;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                width: 260px;
              }
              span:nth-of-type(2) {
                position: absolute;
                right: 0px;
                top: 0px;
              }
            }
          }
        }

        .form-list {
          li {
            line-height: 48px;
            border-bottom: 1px solid #dddddd;
            a {
              font-size: 14px;
              color: #666;
              display: block;
              position: relative;

              &:after {
                content: url("../img/rfIndex/notice-lt.png");
                width: 5px;
                height: 10px;
                position: absolute;
                right: 0;
              }
            }
          }
        }
        .news-list, .form-list {
          a:hover {
            color: #2ebbe7;
          }
        }
        .form-list {
          a:hover {
            &:after {
              content: url("../img/rfIndex/notice-lt-active-2.png");
            }
          }
        }
      }
      //>div{
      //  float : left;
      //  margin-right:22px;
      //  width : 312px;
      //  height : 210px;
      //  margin-top : 10px;
      //  background: greenyellow;
      //  &.wrap-right{
      //    float: right;
      //    margin-right:0;
      //  }
      //
      //  img{
      //    height: 100px;
      //    width: 312px;
      //  }
      //}
    }

  }

  //证券 期货 理财
  .bond, .forward, .money {
    width: 100%;
    float: left;
    margin-top: 16px;
    margin-bottom: 58px;
    .bond-title,
    .forward-title,
    .money-title {
      border-bottom: 1px solid #ccc;
      position: relative;
      span {
        color: #2ebbe7;
        font-size: 20px;
        display: inline-block;
        //width:46px;
        padding-bottom: 10px;
        border-bottom: 1px solid #2a6496;
      }

      a {
        position: absolute;
        right: 0;
        top: 4px;
        color: #2ebbe7;
        font-size: 12px;

        &:after {
          content: url("../img/header/more-bottom.png");
          width: 12px;
          height: 12px;
          position: absolute;
          right: 0;
          bottom: -18px;
        }
      }

    }
    .bont-txt,
    .forward-txt,
    .money-txt {
      margin-top: 16px;
      position: relative;
      .bond-left, .bond-center, .bond-right,
      .forward-left, .forward-center, .forward-right,
      .money-left, .money-center, .money-right {
        float: left;
        width: 312px;
        margin-right: 22px;
      }
      .bond-right,
      .forward-right,
      .money-right {
        margin-right: 0;
      }

      .bond-left,
      .forward-right,
      .money-left {
        img {
          width: 312px;
          height: 190px;
        }
      }
      .bond-center, .bond-right,
      .forward-left, .forward-center,
      .money-center, .money-right {
        a {
          display: block;
          line-height: 52px;
          color: #333;
          font-size: 16px;
          font-weight: 500;
        }
        span {
          color: #666;
          font-size: 12px;
        }
      }

      .bond-right,
      .forward-left,
      .money-right {
        position: relative;
      }
      .bond-right > a,
      .forward-left > a,
      .money-right > a {
        position: absolute;
        top: 170px;
        right: 10px;
        span {
          background-color: #2ebbe7;
          border-radius: 999px;
          border: 1px solid #2ebbe7;
          padding: 13px 42px;
          font-size: 14px;
          color: #fff;
        }
        img {
          width: 18px;
          height: 17px;
          position: absolute;
          right: 12px;
          top: 18px;
        }

        &:hover {
          span {
            background-color: #14aede;
          }
        }
      }
    }
  }

  .about-us {
    margin-bottom: 58px;
  }
}
