/*** 导航栏大图 **/
.banner{
  position: relative;
  left : 0;
  right : 0;
  height: 200px;
  //a{
  //  > img{
  //    position: absolute;
  //    left : 50%;
  //    margin-left : -960px;
  //    height:200px;
  //  }
  //}
  a{
    position:absolute;
  }
  .container img{
    width : 177px;
    height:58px;
    position: absolute;

    margin-top : -116px;
    right : 78px;
    cursor: pointer;
  }

  .banner-nav{
    bottom : 0;
  }
}