.rifa-title{
  margin-top : 40px;
  border-bottom : 1px solid #ccc;
  line-height : 34px;

  span,a{
    font-size:16px;
  }
  span{
    color: #4c4c4c;
  }
  .refa-banner-txt{
    color: #2ebbe7;
    border-bottom : 1px solid #2ebbe7;
    padding-bottom : 9px;
  }
  img{
    width: 8px;
    height: 14px;
    margin : 10px 10px 0;
  }
}