@font-face {
  font-family : "fzltxh";
  src : url('../fonts/fzltxh.ttf');
}

html,body{ width : 100%; height : 100%;}
body{
  background-color: #fff;
  font-family:fzltxh;
}
body,ul,p,table,h1,h2,h3,h4,h5{
  margin: 0;
  padding: 0;
}
li{ list-style: none;}
a{
  cursor: pointer!important;
  outline:none;
}
a:link{text-decoration:none; cursor:pointer;  outline:none;}
a:visited{text-decoration:none; cursor:pointer;  outline:none;}
a:active{text-decoration:none; cursor:pointer;  outline:none;}
a:hover{text-decoration:none; cursor:pointer;  outline:none;}
.container-fluid{
  padding : 0;
}
img{
  vertical-align: top;
}
.container{
  width : 1024px;
  margin:0 auto;
  padding : 0 22px;
  position: relative;
  //background : greenyellow;
}
.clear{ zoom:1;}
.clear:after{ content:''; display:block; clear:both;}


#header,#footer,#myCarousel,.banner-nav,.banner,.feture-second-nav,.fetureBanner-table{
 min-width : 1024px;
}
