.rifa-item{
  margin-top: 30px;
  div{
    span{
      color : #4c4c4c;
      font-size:12px;
      line-height : 20px;
    }

    .rifa-item-title{
      font-size : 24px;
      color : #333;
      font-weight : 500;
      line-height:36px;
    }

    div{
      margin-top : 22px;
      span{
        display: block;
      }

      .rifa-address{
        width : 704px;
        height: 240px;
      }
      .rifa-phone{
        width : 286px;
        height:134px;
      }
    }
  }

}