@media all and (max-width: 750px){


  body{
    margin: 0;
    padding: 0;
  }
  @rem : 50rem;

  .test{

    width: 375 / @rem;
    background : green;
    height: 100 / @rem;

    float: left;
    &:nth-of-type(2){
      background-color: gold;
    }

    font-size:20 / @rem;
    text-align: center;
  }

}
